@using DreamRecorder.ToolBox.General;
@using DreamRecorder.ToolBox.CommandLine;
@using DreamRecorder.ToolBox.AspNet.CommonComponent;
@using Microsoft.Extensions.Primitives;
@using System.Net.Sockets;

@addTagHelper *, DreamRecorder.Sayings.TagHelperProvider
@addTagHelper *, DreamRecorder.ToolBox.AspNet.CommonComponent

<div class="container">
	<hr/>

	<saying/>

	<div class="row">
		<div class="col-md-auto">
			<commonfooter/>
		</div>
	</div>

	<div class="row justify-content-between">

		<div class="col-md-auto order-md-last ms-auto">
			<footer class="text-end">
				<small class="text-muted">@( DateTime . UtcNow . ToString ( "yyyy-MM-dd HH:mm:ss.fffffffK" ) )</small>
				<br/>

				@if ( Context . Request . Headers . TryGetValue ( "X-Forwarded-For" , out StringValues forwardedFor ) )
				{
					string [ ] hosts = forwardedFor . ToString ( ) . Split ( "," , StringSplitOptions . TrimEntries ) ;
					foreach ( string host in hosts )
					{
						<small class="text-muted">@( host ) -></small>
						<br/>
					}
				}

				@if ( Context . Request . HttpContext . Connection . RemoteIpAddress ? . AddressFamily == AddressFamily . InterNetwork )
				{
					<small class="text-muted">@( Context . Request . HttpContext . Connection . RemoteIpAddress ):@( Context . Request . HttpContext . Connection . RemotePort )</small>
				}
				else
				{
					<small class="text-muted">[@( Context . Request . HttpContext . Connection . RemoteIpAddress )]:@( Context . Request . HttpContext . Connection . RemotePort )</small>
				}

				<br/>

				@if ( Context . Request . Headers . TryGetValue ( "CF-RAY" , out StringValues cfRay ) )
				{
					<small class="text-muted">@( cfRay . ToString ( ) )</small>
					<br/>
				}

				@if ( Context . User . Identity ? . Name is string name )
				{
					<small class="text-muted">@( name )</small>
				}

			</footer>
		</div>
		<div class="col-md-auto">
			<footer>
				<small style="white-space: pre-line" class="text-muted">@( ProgramBase . Current . GetType ( ) . Assembly . GetAssemblyInfo ( ) )</small>
			</footer>
		</div>
	</div>
</div>